
@{
    ViewData["Title"] = "About Us";
}
<body style="background-image: url(https://cutewallpaper.org/21/wallpaper-gif-1920x1080/wg-WallpapersGeneral-Thread-7178018.gif); background-repeat: no-repeat; background-size: cover; ">
    <h1 class="display4">About Us</h1>

    <p>Our Goal is to help people who are starting to diet better in the most simple way.</p>
    <p>Who are we? We are a group of people who make tracking your calories easy.</p>
    <p>With our app you can know what you can eat throughout the day with a few simple clicks!</p>
</body>