@{
    ViewData["Title"] = "Home Page";
}
<body style="background-image: url(https://art.pixilart.com/fe55845141d2.gif); background-repeat: no-repeat; background-size: cover; "> 
    <div class="text-left">
        <h1 class="display-2">Welcome to CalCalculator!</h1>
        <p class="display-4">The Simple and Easy way to track your Calories!</p>

    </div>
</body>